.root {
    -fx-background-image:url('Bape.jpg');
    -fx-font-size: 2em;
}
#LoginPage {
    -fx-background-image:url('BestBape.png') ;
}
#MainMenu {
    -fx-background-image:url('BestestBape.png') ;
}
#DiaMainMenu{

    -fx-background-color: red;
}
.button{
    -fx-background-color: red;
}